---
import "../styles/global.css"
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <div
    id="playlist-container"
    class="relative transition-all duration-1000 bg-emerald-950"
  >
    <!-- Page header -->
    <div class="relative z-10 px-6">
      <!-- Greetings -->
      <div></div>
    </div>
  </div>
</Layout>
